<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </head>
  <div class="container">
    <div class="message long">
      <button class="button" id="back" hidden> Another one!</button>
    </div>
    <div class="form form--long">
      <div class="form--heading">Shorten your URL</div>
      <form autocomplete="off" method="post">
        <input type="text" id="longurl" placeholder="Enter URL here">
        <button class="button" id="post">Pipsqueak!</button>
      </form>
    </div>
    <div class="form form--short">
      <div class="form--heading">Here is your link!</div>
      <form autocomplete="off">
        <input type="text" id="shorturl">
      </form>
    </div>
  </div>
</html>